body {
    text-align: center;
    transition: .2s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body.success {
    background-color: #b7f0b7;
    transition: .2s ease;
}

.game-container {
    margin: 0 auto;
}

.map-and-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    margin-left: 10px;
    text-align: center;
}

.controls button {
    padding: 10px 10px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background-color: #ddd;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.controls .horiz {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button::before {
    content: "";
    width: 0px;
    position: absolute;
}

button.left::before {
    border-top: 10px solid transparent;
    border-right: 15px solid #000;
    border-bottom: 10px solid transparent;
    left: 10px;
    top: 9px;
  }
  button.right::before {
    border-top: 10px solid transparent;
    border-left: 15px solid #000;
    border-bottom: 10px solid transparent;
    left: 12px;
    top: 9px;
  }
  button.up::before {
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid #000;
    left: 9px;
    top: 9px;
  }
  button.down::before {
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 15px solid #000;
    left: 9px;
    top: 12px;
  }

button.right {
    margin-left: 5px;
}

button.left {
    margin-right: 5px;
}

p {
    margin: 10px 0;
    padding: 0;
}

.game-map {
    position: relative;
}

div.layer, div.layer div {
    position: absolute;
}

.tiles div {
    border: 1px solid gray;
}

.default .floor {
    background-color: lightgray;
}

.default .wall {
    background-color: skyblue;
}

.player, .goal {
    transform: scale(.85);
    transform-origin: center;
}

.player {
    background-color: #90ee90;
    border: 1px solid green;
    transition: left .2s linear, top  .2s linear;
}

.goal {
    background-color: #ffd700;
    border: 1px solid #98720b;
}

.success-msg {
    opacity: 0;
    transition: opacity .2s ease;
    position: absolute;
    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: calc(100% - 8px);
}

body.success .success-msg {
    opacity: 1;
    transition: opacity .2s ease;
}
